<!DOCTYPE html>
<html lang="uk">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Головна</a></li>
            <li><a href="{{ url_for('offers') }}">Товари та послуги</a></li>
            <li><a href="{{ url_for('prices') }}">Ціни</a></li>
            <li><a href="{{ url_for('contact') }}">Зв'язатися з нами</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Види товарів</h2>
    <p>Тут ви можете знайти все, що вам потрібно для вашого авто</p>
    {% for offer in offers %}
        <div class="offer">
            <img src="{{ url_for('static', filename='images/' + offer.image) }}" alt="{{ offer.name }} image">
            <h4>{{ offer.name }}</h4>
            <p>{{ offer.description }}</p>
        </div>
    {% endfor %}
</main>
<footer>
    <p>Телефон: +380-123-7890</p>
    <p>Адреса: вулиця Теодора Драйзера 3А, Київ, Україна</p>
    <p>&copy; {{ year }} Car Shop. All rights reserved.</p>
</footer>
</body>
</html>